generator:
  class: bdModernDoctrineGenerator
  param:
    model_class:           tag
    theme:                 modern
    non_verbose_templates: true
    with_show:             false
    singular:              Tag
    plural:                Tags
    route_prefix:          tag_manager
    with_doctrine_route:   true
    actions_base_class:    sfActions

    config:
      actions: ~
      fields:
        is_featured:
          label: Featured
        image1:
          label: Tag-image
      
      list:    
        title: Tag List
        sort: [name, asc]
        display: [=name, is_featured, position, description]
        max_per_page: 50
        
      filter:  ~
      form:
        class: sfTagManagerTagForm
      edit:
        title: Editing "%%name%%" - Tag
      new:
        title: New Tag